[submodule "marinoland_json"]
	path = marinoland_json
	url = git@github.com:Marinoland/marinoland_json
[submodule "marinoland_openssl"]
	path = marinoland_openssl
	url = git@github.com:Marinoland/marinoland_openssl
[submodule "marinoland_boost"]
	path = marinoland_boost
	url = git@github.com:Marinoland/marinoland_boost
