# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
testweb

# cmake generated stuff
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# visual studio stuff
.vs
*.vcxproj*
web.dir
web.sln
x64
testweb.dir
testweb.exe.dir

